body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

button {
cursor: pointer;
}

ul, ol {
    list-style-type: none;
}
h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
h1 {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
}

p {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #region Header */
.header-page {}

.nav-page {}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.logo-span {
    color: #4d5ae5;
}
.end-span {
    color:#f4f4fd;
}

.nav-header-link {
    
}

.nav-item {
   
    }
    

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.nav-item-link:hover, 
.nav-item-link:focus {
    color:#404bbf;
}

/* #endregion */

/* #region Adress */
.contacts {}

.list-contacts {
    
}

.contacts-ref {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #434455;
}
.contacts-ref:hover,
.contacts-ref:focus {
color: #404bbf;
}

/* #endregion */
.team-section {
    background-color: #f4f4fd;
}
/* #region Hero */

.hero {
background-color: #2e2f42;
}
.hero-title {

}

.main-title {}

.hero-bt {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
}
.hero-bt:hover,
.hero-bt:focus {
    background-color:#404bbf;
}

/* #endregion */

.footer-main {
    background-color: #2e2f42;
}
.footer-text {
    color:#f4f4fd;
}